<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar Menu Example</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>

    <!-- Custom CSS -->
    <style>
        /* Adjust sidebar width */
        .sidebar {
            width: 250px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-2 sidebar bg-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}" th:text="'Home'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}" th:text="'About'"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}" th:text="'Contact'"></a>
                    </li>
                </ul>
            </div>
            
            <!-- Content -->
            <div class="col-10">
                <h1>Main Content</h1>
                <!-- Content goes here -->
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS -->
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>
</html>
